#leftBox {
	float: left;
	width: 250px;
	height: 250px;
	margin: 5px;
	border: 3px solid #32a840;
}

#rightBox {
	float: left;
	width: 250px;
	height: 250px;
	margin: 5px;
	border: 3px solid #b20303;
}

#basketball {
	max-height: 250px;
}